apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: topolvm-system
    topolvm.cybozu.com/webhook: ignore
  name: topolvm-system
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.7
  creationTimestamp: null
  name: logicalvolumes.topolvm.cybozu.com
spec:
  group: topolvm.cybozu.com
  names:
    kind: LogicalVolume
    listKind: LogicalVolumeList
    plural: logicalvolumes
    singular: logicalvolume
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: LogicalVolume is the Schema for the logicalvolumes API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: LogicalVolumeSpec defines the desired state of LogicalVolume
          properties:
            deviceClass:
              type: string
            name:
              description: 'INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
                Important: Run "make" to regenerate code after modifying this file'
              type: string
            nodeName:
              type: string
            size:
              anyOf:
              - type: integer
              - type: string
              pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
              x-kubernetes-int-or-string: true
          required:
          - name
          - nodeName
          - size
          type: object
        status:
          description: LogicalVolumeStatus defines the observed state of LogicalVolume
          properties:
            code:
              description: A Code is an unsigned 32-bit error code as defined in the
                gRPC spec.
              format: int32
              type: integer
            currentSize:
              anyOf:
              - type: integer
              - type: string
              pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
              x-kubernetes-int-or-string: true
            message:
              type: string
            volumeID:
              description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                of cluster Important: Run "make" to regenerate code after modifying
                this file'
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: topolvm-system/mutatingwebhook
  labels:
    app.kubernetes.io/name: topolvm-hook
  name: topolvm-hook
webhooks:
- clientConfig:
    service:
      name: controller
      namespace: topolvm-system
      path: /pod/mutate
  failurePolicy: Fail
  name: pod-hook.topolvm.cybozu.com
  namespaceSelector:
    matchExpressions:
    - key: topolvm.cybozu.com/webhook
      operator: NotIn
      values:
      - ignore
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - pods
- clientConfig:
    service:
      name: controller
      namespace: topolvm-system
      path: /pvc/mutate
  failurePolicy: Fail
  name: pvc-hook.topolvm.cybozu.com
  namespaceSelector:
    matchExpressions:
    - key: topolvm.cybozu.com/webhook
      operator: NotIn
      values:
      - ignore
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    resources:
    - persistentvolumeclaims
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: controller
  namespace: topolvm-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: node
  namespace: topolvm-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: topolvm-scheduler
  namespace: topolvm-system
---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: topolvm-node
spec:
  allowPrivilegeEscalation: true
  allowedHostPaths:
  - pathPrefix: /var/lib/kubelet
    readOnly: false
  - pathPrefix: /run/topolvm
    readOnly: false
  fsGroup:
    rule: RunAsAny
  hostNetwork: false
  privileged: true
  readOnlyRootFilesystem: true
  runAsUser:
    rule: RunAsAny
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  volumes:
  - configMap
  - emptyDir
  - secret
  - hostPath
---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: topolvm-scheduler
spec:
  allowPrivilegeEscalation: false
  fsGroup:
    ranges:
    - max: 65535
      min: 1
    rule: MustRunAs
  hostNetwork: true
  privileged: false
  readOnlyRootFilesystem: true
  runAsUser:
    rule: MustRunAsNonRoot
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    ranges:
    - max: 65535
      min: 1
    rule: MustRunAs
  volumes:
  - configMap
  - emptyDir
  - secret
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: external-attacher-cfg
  namespace: topolvm-system
rules:
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - watch
  - list
  - delete
  - update
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: external-provisioner-cfg
  namespace: topolvm-system
rules:
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - watch
  - list
  - delete
  - update
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: external-resizer-cfg
  namespace: topolvm-system
rules:
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - watch
  - list
  - delete
  - update
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: leader-election
  namespace: topolvm-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - watch
  - list
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: psp:topolvm-scheduler
  namespace: topolvm-system
rules:
- apiGroups:
  - policy
  resourceNames:
  - topolvm-scheduler
  resources:
  - podsecuritypolicies
  verbs:
  - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-attacher-runner
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - csinodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - volumeattachments
  verbs:
  - get
  - list
  - watch
  - update
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-provisioner-runner
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  verbs:
  - get
  - list
  - watch
  - create
  - delete
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - list
  - watch
  - create
  - update
  - patch
- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshots
  verbs:
  - get
  - list
- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshotcontents
  verbs:
  - get
  - list
- apiGroups:
  - storage.k8s.io
  resources:
  - csinodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-resizer-runner
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims/status
  verbs:
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - list
  - watch
  - create
  - update
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: topolvm-system:controller
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
  - delete
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
  - update
  - delete
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  - csidrivers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - topolvm.cybozu.com
  resources:
  - logicalvolumes
  - logicalvolumes/status
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: topolvm-system:node
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - topolvm.cybozu.com
  resources:
  - logicalvolumes
  - logicalvolumes/status
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
  - patch
- apiGroups:
  - storage.k8s.io
  resources:
  - csidrivers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - policy
  resourceNames:
  - topolvm-node
  resources:
  - podsecuritypolicies
  verbs:
  - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-attacher-role-cfg
  namespace: topolvm-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: external-attacher-cfg
subjects:
- kind: ServiceAccount
  name: controller
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-provisioner-role-cfg
  namespace: topolvm-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: external-provisioner-cfg
subjects:
- kind: ServiceAccount
  name: controller
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-resizer-role-cfg
  namespace: topolvm-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: external-resizer-cfg
subjects:
- kind: ServiceAccount
  name: controller
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: leader-election
  namespace: topolvm-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: leader-election
subjects:
- kind: ServiceAccount
  name: controller
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: topolvm-scheduler:psp:topolvm-scheduler
  namespace: topolvm-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: psp:topolvm-scheduler
subjects:
- kind: ServiceAccount
  name: topolvm-scheduler
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-attacher-role
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-attacher-runner
subjects:
- kind: ServiceAccount
  name: controller
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-provisioner-role
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-provisioner-runner
subjects:
- kind: ServiceAccount
  name: controller
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-resizer-role
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-resizer-runner
subjects:
- kind: ServiceAccount
  name: controller
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: topolvm-system:controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: topolvm-system:controller
subjects:
- kind: ServiceAccount
  name: controller
  namespace: topolvm-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: topolvm-system:node
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: topolvm-system:node
subjects:
- kind: ServiceAccount
  name: node
  namespace: topolvm-system
---
apiVersion: v1
data:
  scheduler-options.yaml: |
    listen: "localhost:9251"
    default-divisor: 1
kind: ConfigMap
metadata:
  name: scheduler-options-d99727g46m
  namespace: topolvm-system
---
apiVersion: v1
kind: Service
metadata:
  name: controller
  namespace: topolvm-system
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 8443
  selector:
    app.kubernetes.io/name: controller
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: topolvm-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: controller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: controller
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                - controller
            topologyKey: kubernetes.io/hostname
      containers:
      - command:
        - /topolvm-controller
        - --cert-dir=/certs
        image: quay.io/topolvm/topolvm:0.5.2
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 10
          periodSeconds: 60
          timeoutSeconds: 3
        name: topolvm-controller
        ports:
        - containerPort: 9808
          name: healthz
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /metrics
            port: 8080
            scheme: HTTP
        volumeMounts:
        - mountPath: /run/topolvm
          name: socket-dir
        - mountPath: /certs
          name: certs
      - command:
        - /csi-provisioner
        - --csi-address=/run/topolvm/csi-topolvm.sock
        - --feature-gates=Topology=true
        - --enable-leader-election
        - --leader-election-namespace=topolvm-system
        - --leader-election-type=leases
        image: quay.io/topolvm/topolvm:0.5.2
        name: csi-provisioner
        volumeMounts:
        - mountPath: /run/topolvm
          name: socket-dir
      - command:
        - /csi-attacher
        - --csi-address=/run/topolvm/csi-topolvm.sock
        - --leader-election
        - --leader-election-namespace=topolvm-system
        image: quay.io/topolvm/topolvm:0.5.2
        name: csi-attacher
        volumeMounts:
        - mountPath: /run/topolvm
          name: socket-dir
      - command:
        - /csi-resizer
        - --csi-address=/run/topolvm/csi-topolvm.sock
        - --leader-election
        - --leader-election-namespace=topolvm-system
        image: quay.io/topolvm/topolvm:0.5.2
        name: csi-resizer
        volumeMounts:
        - mountPath: /run/topolvm
          name: socket-dir
      - command:
        - /livenessprobe
        - --csi-address=/run/topolvm/csi-topolvm.sock
        image: quay.io/topolvm/topolvm:0.5.2
        name: liveness-probe
        volumeMounts:
        - mountPath: /run/topolvm
          name: socket-dir
      securityContext:
        runAsGroup: 10000
        runAsUser: 10000
      serviceAccountName: controller
      volumes:
      - emptyDir: {}
        name: socket-dir
      - name: certs
        secret:
          secretName: mutatingwebhook
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node
  namespace: topolvm-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: node
  template:
    metadata:
      annotations:
        prometheus.io/port: "8080"
      labels:
        app.kubernetes.io/name: node
    spec:
      containers:
      - command:
        - /topolvm-node
        - --lvmd-socket=/run/lvmd/lvmd.sock
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        image: quay.io/topolvm/topolvm:0.5.2
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 10
          periodSeconds: 60
          timeoutSeconds: 3
        name: topolvm-node
        ports:
        - containerPort: 9808
          name: healthz
          protocol: TCP
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /run/topolvm
          name: node-plugin-dir
        - mountPath: /run/lvmd
          name: lvmd-socket-dir
        - mountPath: /var/lib/kubelet/pods
          mountPropagation: Bidirectional
          name: pod-volumes-dir
        - mountPath: /var/lib/kubelet/plugins/kubernetes.io/csi
          mountPropagation: Bidirectional
          name: csi-plugin-dir
      - command:
        - /csi-node-driver-registrar
        - --csi-address=/run/topolvm/csi-topolvm.sock
        - --kubelet-registration-path=/var/lib/kubelet/plugins/topolvm.cybozu.com/node/csi-topolvm.sock
        image: quay.io/topolvm/topolvm:0.5.2
        lifecycle:
          preStop:
            exec:
              command:
              - /bin/sh
              - -c
              - rm -rf /registration/topolvm.cybozu.com /registration/topolvm.cybozu.com-reg.sock
        name: csi-registrar
        volumeMounts:
        - mountPath: /run/topolvm
          name: node-plugin-dir
        - mountPath: /registration
          name: registration-dir
      - command:
        - /livenessprobe
        - --csi-address=/run/topolvm/csi-topolvm.sock
        image: quay.io/topolvm/topolvm:0.5.2
        name: liveness-probe
        volumeMounts:
        - mountPath: /run/topolvm
          name: node-plugin-dir
      nodeSelector:
        topology.topolvm.cybozu.com: "true"
      serviceAccountName: node
      volumes:
      - hostPath:
          path: /var/lib/kubelet/plugins_registry/
          type: Directory
        name: registration-dir
      - hostPath:
          path: /var/lib/kubelet/plugins/topolvm.cybozu.com/node
          type: DirectoryOrCreate
        name: node-plugin-dir
      - hostPath:
          path: /var/lib/kubelet/plugins/kubernetes.io/csi
          type: DirectoryOrCreate
        name: csi-plugin-dir
      - hostPath:
          path: /var/lib/kubelet/pods/
          type: DirectoryOrCreate
        name: pod-volumes-dir
      - hostPath:
          path: /run/topolvm
          type: Directory
        name: lvmd-socket-dir
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: topolvm-scheduler
  namespace: topolvm-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: topolvm-scheduler
  template:
    metadata:
      labels:
        app.kubernetes.io/name: topolvm-scheduler
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: Exists
      containers:
      - command:
        - /topolvm-scheduler
        - --config=/etc/topolvm/scheduler-options.yaml
        image: quay.io/topolvm/topolvm:0.5.2
        livenessProbe:
          httpGet:
            host: localhost
            path: /status
            port: 9251
        name: topolvm-scheduler
        volumeMounts:
        - mountPath: /etc/topolvm
          name: scheduler-options
      hostNetwork: true
      securityContext:
        runAsGroup: 10000
        runAsUser: 10000
      serviceAccountName: topolvm-scheduler
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      volumes:
      - configMap:
          name: scheduler-options-d99727g46m
        name: scheduler-options
---
apiVersion: cert-manager.io/v1alpha3
kind: Certificate
metadata:
  name: mutatingwebhook
  namespace: topolvm-system
spec:
  dnsNames:
  - controller
  - controller.topolvm-system
  - controller.topolvm-system.svc
  duration: 8760h0m0s
  issuerRef:
    name: webhook-ca
  secretName: mutatingwebhook
  usages:
  - digital signature
  - key encipherment
  - server auth
  - client auth
---
apiVersion: cert-manager.io/v1alpha3
kind: Certificate
metadata:
  name: webhook-ca
  namespace: topolvm-system
spec:
  commonName: ca.webhook.topolvm
  duration: 87600h0m0s
  isCA: true
  issuerRef:
    name: webhook-selfsign
  secretName: webhook-ca
  usages:
  - digital signature
  - key encipherment
  - cert sign
---
apiVersion: cert-manager.io/v1alpha3
kind: Issuer
metadata:
  name: webhook-ca
  namespace: topolvm-system
spec:
  ca:
    secretName: webhook-ca
---
apiVersion: cert-manager.io/v1alpha3
kind: Issuer
metadata:
  name: webhook-selfsign
  namespace: topolvm-system
spec:
  selfSigned: {}
---
apiVersion: storage.k8s.io/v1beta1
kind: CSIDriver
metadata:
  name: topolvm.cybozu.com
spec:
  attachRequired: true
  podInfoOnMount: true
  volumeLifecycleModes:
  - Persistent
  - Ephemeral
