

{% if loki_stack_config.loki.disabled %}
loki:
  enabled: false
{% else %}  
loki:
  enabled: true
  persistence:
    enabled: {{ not loki_stack_config.loki.persistence.disabled }}
{% if loki_stack_config.loki.persistence.storage_class is defined %} 
    storageClassName: "{{ loki_stack_config.loki.persistence.storage_class }}"
{% endif %}    
{% if loki_stack_config.loki.persistence.size_gb is defined %} 
    size: {{ loki_stack_config.loki.persistence.size_gb}}Gi
{% endif %}    
{% endif %}    
    
promtail:
  enabled: true

fluent-bit:
  enabled: false

{% if loki_stack_config.grafana.disabled %}
grafana:
  enabled: false
{% else %}
grafana:
  enabled: true
  rbac:
    pspUseAppArmor: false
  sidecar:
    datasources:
      enabled: true
  image:
    tag: 6.6.0
  adminPassword: admin
  persistence:
    enabled: {{ not loki_stack_config.grafana.persistence.disabled }}
{% if loki_stack_config.grafana.persistence.storage_class is defined %} 
    storageClassName: "{{ loki_stack_config.grafana.persistence.storage_class }}"
{% endif %}    
{% if loki_stack_config.grafana.persistence.size_gb is defined %} 
    size: {{ loki_stack_config.grafana.persistence.size_gb}}Gi
{% endif %}    
{% endif %}

    
{% if loki_stack_config.prometheus.disabled %}
prometheus:
  enabled: false
{% else %}
prometheus:
  enabled: true
  alertmanager:
{% if loki_stack_config.prometheus.alert_manager.disabled %}
    enabled: false
{% else %}
    enabled: true
    persistentVolume:
      enabled: {{ not loki_stack_config.prometheus.alert_manager.persistence.disabled }}
{% if loki_stack_config.prometheus.alert_manager.persistence.storage_class is defined %} 
      storageClass: "{{ loki_stack_config.prometheus.alert_manager.persistence.storage_class }}"
{% endif %}    
{% if loki_stack_config.prometheus.alert_manager.persistence.size_gb is defined %} 
      size: {{ loki_stack_config.prometheus.alert_manager.persistence.size_gb}}Gi
{% endif %}    
{% endif %}
  server:
{% if loki_stack_config.prometheus.server.disabled %}
    enabled: false
{% else %}
    enabled: true
    persistentVolume:
      enabled: {{ not loki_stack_config.prometheus.server.persistence.disabled }}
{% if loki_stack_config.prometheus.server.persistence.storage_class is defined %} 
      storageClass: "{{ loki_stack_config.prometheus.server.persistence.storage_class }}"
{% endif %}    
{% if loki_stack_config.prometheus.server.persistence.size_gb is defined %} 
      size: {{ loki_stack_config.prometheus.server.persistence.size_gb}}Gi
{% endif %}    
{% endif %}    
{% endif %}    
 