[HDP-repo]
baseurl={{ yum_repo_hdp_hdp_url }}
gpgkey={{ yum_repo_hdp_hdp_key_url }}
enabled=1
gpgcheck=1

[HDP-GPL-repo]
baseurl={{ yum_repo_hdp_hdp_gpl_url }}
gpgkey=h{{ yum_repo_hdp_hdp_gpl_key_url }}
enabled=1
gpgcheck=1

[HDP-UTILS-repo]
baseurl={{ yum_repo_hdp_hdp_utils_url }}
gpgkey={{ yum_repo_hdp_hdp_utils_key_url }}
enabled=1
gpgcheck=1
