[Service]
Environment={% if docker_http_proxy is defined %}"HTTP_PROXY={{ docker_http_proxy }}"{% endif %} {% if docker_https_proxy is defined %}"HTTPS_PROXY={{ docker_https_proxy }}"{% endif %} {% if docker_no_proxy is defined %}"NO_PROXY={{ docker_no_proxy }}"{% endif %}
